################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/Release
/Debug
/.vs/GameLoopExample/v15
/sync.ffs_db
